# copy this to packages/googletest/googletest/build

EXTRA_ARGS=$@

percept_build_dir=../../../..
percept_build_dir=`cd $percept_build_dir; pwd`
echo $percept_build_dir


# set to where the mpi compilers are
MPI=$MPI_HOME/bin
# set to where the source is located
#GTEST=..

#   -D BUILD_HDF5:BOOL=ON

#  -D GTEST_BUILD_SHARED:BOOL=OFF \
#  -D GTEST_USE_SHARED:BOOL=OFF \


cmake \
  -D CMAKE_BUILD_TYPE=RELEASE \
  -D CMAKE_C_COMPILER:PATH=$MPI/mpicc \
  -D CMAKE_Fortran_COMPILER:PATH=$MPI/mpif90 \
  -D CMAKE_CXX_COMPILER=mpicxx  \
  -D CMAKE_CC_COMPILER=mpicc  \
  -D CMAKE_INSTALL_PREFIX=$percept_build_dir/install \
  -D CMAKE_EXE_LINKER_FLAGS:STRING="" \
  -D CMAKE_STATIC_LINKER_FLAGS:STRING="" \
  -D MPIEXEC:STRING=$MPI/mpiexec \
  -D MPI_C_COMPILER:STRING=$MPI/mpicc \
  -D MPI_Fortran_COMPILER:STRING=$MPI/mpif90 \
 ..

#ccmake .
