# copy this to packages/CGNS/build

EXTRA_ARGS=$@

percept_build_dir=../../..
percept_build_dir=`cd $percept_build_dir; pwd`
echo $percept_build_dir


# set to where hdf5 is installed.
#HDF5=$percept_build_dir/packages/hdf5-1.8.12
HDF5=$percept_build_dir/install
# set to where the mpi compilers are
MPI=$MPI_HOME/bin
# set to where the source is located
CGNS=..

#   -D BUILD_HDF5:BOOL=ON

cmake \
  -D CMAKE_C_COMPILER:PATH=$MPI/mpicc \
  -D CMAKE_Fortran_COMPILER:PATH=$MPI/mpif90 \
  -D CMAKE_CXX_COMPILER=mpicxx  \
  -D CMAKE_CC_COMPILER=mpicc  \
  -D CMAKE_INSTALL_PREFIX=$percept_build_dir/install \
  -D CGNS_BUILD_SHARED:BOOL=OFF \
  -D CGNS_USE_SHARED:BOOL=OFF \
  -D HDF5_NEED_ZLIB:BOOL=ON \
  -D CMAKE_EXE_LINKER_FLAGS:STRING="" \
  -D CMAKE_STATIC_LINKER_FLAGS:STRING="" \
  -D MPIEXEC:STRING=$MPI/mpiexec \
  -D MPI_C_COMPILER:STRING=$MPI/mpicc \
  -D MPI_Fortran_COMPILER:STRING=$MPI/mpif90 \
  -D CGNS_ENABLE_HDF5:BOOL=ON \
  -D CGNS_ENABLE_TESTS:BOOL=OFF \
  -D CGNS_BUILD_CGNSTOOLS:BOOL=OFF \
  -D HDF5_LIBRARY_DIR:PATH=$HDF5/lib \
  -D HDF5_LIBRARY:STRING=$HDF5/lib/libhdf5.a \
  -D HDF5_INCLUDE_DIR:PATH=$HDF5/include \
  -D HDF5_INCLUDE_PATH:PATH=$HDF5/include \
  -D HDF5_NEED_MPI:BOOL=ON \
  -D CGNS_ENABLE_SCOPING:BOOL=ON \
  -D CGNS_ENABLE_FORTRAN:BOOL=OFF \
  -D CGNS_ENABLE_64BIT:BOOL=OFF \
  -D CMAKE_C_COMPILER:PATH=$MPI/mpicc \
  -D CMAKE_Fortran_COMPILER:PATH=$MPI/mpif90 \
  -D CGNS_ENABLE_PARALLEL:BOOL=ON \
 ..

#ccmake .
