# copy this to packages/percept/build
percept_build_dir=.
percept_build_dir=`cd $percept_build_dir; pwd`
echo $percept_build_dir

trilinos_install_dir=$percept_build_dir/install/trilinos
yaml_install_dir=$percept_build_dir/install
cgns_install_dir=$percept_build_dir/install
opennurbs_install_dir=$percept_build_dir/packages/opennurbs
boost_install_dir=$percept_build_dir/install
stk_extra_dir=$percept_build_dir/packages/Trilinos/packages/stk/stk_mesh
percept_tpls_install_dir=$percept_build_dir/install

EXTRA_ARGS=$@

# Cleanup old cache before we configure
# Note:  This does not remove files produced by make.  Use "make clean" for this.
#cd $percept_build_dir/packages/percept/build
#find . -name "CMakeFiles" -exec rm -rf {} \;
#rm -f CMakeCache.txt

cmake \
  -D STK_PERCEPT_LITE=0 \
  -D STK_ADAPT_HAVE_YAML_CPP=1 \
  -DTrilinos_DIR:PATH=$trilinos_install_dir \
  -DYAML_DIR:PATH=$yaml_install_dir \
  -DCGNS_DIR:PATH=$yaml_install_dir \
  -DOPENNURBS_DIR:PATH=$opennurbs_install_dir \
  -DBOOST_DIR:PATH=$boost_install_dir \
  -DSTK_EXTRA_DIR:PATH=$stk_extra_dir \
  -DPERCEPT_TPLS_INSTALL_DIR:PATH=$percept_tpls_install_dir \
  -DENABLE_INSTALL:BOOL=OFF \
  -DCMAKE_BUILD_TYPE=RELEASE \
$EXTRA_ARGS \
../
